* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom left, rgb(156, 70, 156), rgb(61, 162, 245)) fixed;
    background-repeat:no-repeat;
    background-size: cover;
    
}

#text-display{
    font-size: 2em;
    text-align: center;
   padding-top: 250px;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.box{
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: bold;
   
}

#text-key, #text-code, #text-which{
    margin-top: 10px;
}

.allBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media{

}